doctype 5
html(lang="ja")
  head
    meta(charset="utf-8")
    title long long long.
    link(href="/assets/css/normalize.css", rel="stylesheet", type="text/css")
    link(href="/assets/css/main.css", rel="stylesheet", type="text/css")
  body
    header
      h1 long long long
      nav#navi
        li: a.tgt(href="/1") contents1
        li: a.tgt(href="/2") contents2
        li: a.tgt(href="/3") contents3
        li: a.tgt(href="/4") contents4
        li: a.tgt(href="/5") contents5
        li: a.tgt(href="/6") contents6
        li: a.tgt(href="/7") contents
        li: a.tgt(href="/8") contents8
        li: a.tgt(href="/9") contents9
        li: a.tgt(href="/10") contents10
    #container
      article#contents1.box
        h1 1
      article#contents2.box
        h1 2
      article#contents3.box
        h1 3
      article#contents4.box
        h1 4
      article#contents5.box
        h1 5
      article#contents6.box
        h1 6
      article#contents7.box
        h1 7
      article#contents8.box
        h1 8
      article#contents9.box
        h1 9
      article#contents10.box
        h1 10
    footer#footer Copyright &copy; Kageyama All rights reserved.

  script(type="text/javascript", src="/assets/js/components/jquery/jquery.min.js")
  script(type="text/javascript", src="/assets/js/components/kazitori.js/src/js/kazitori.min.js")
  script(type="text/javascript", src="/assets/js/libs/tween.min.js")
  script(type="text/javascript", src="/assets/js/main.js")